In [1]:
import pandas as pd
import nltk
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics

In [2]:
text_dataframe = pd.read_csv('Train.csv')

In [3]:
text_dataframe.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [4]:
x_train = text_dataframe.tweet
y_train = text_dataframe.label

In [5]:
test_data = pd.read_csv('Test.csv')

In [6]:
test_data.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [7]:
x_test = test_data.tweet

In [8]:
vectorizer = TfidfVectorizer(stop_words = 'english')
vectorizer.fit(x_train)
print(len(vectorizer.get_feature_names()))

41104

In [9]:
x_train_transform = vectorizer.transform(x_train)
print(x_train_transform)

  (0, 38161)	0.09139819051005513
  (0, 32080)	0.39172972116286064
  (0, 31207)	0.3009859709057204
  (0, 20140)	0.2715113223351639
  (0, 12981)	0.22565105522349607
  (0, 11373)	0.4749826450114022
  (0, 11372)	0.4569486047772752
  (0, 11051)	0.4342284010719509
  (1, 39521)	0.32856425630477487
  (1, 38306)	0.3380296747407002
  (1, 38161)	0.13522440067438832
  (1, 38152)	0.21805715528620467
  (1, 35980)	0.18596486525981046
  (1, 27319)	0.32856425630477487
  (1, 26115)	0.26573580587032575
  (1, 22203)	0.31522349830514396
  (1, 14989)	0.3380296747407002
  (1, 10839)	0.16168205318348794
  (1, 10458)	0.3513704327403312
  (1, 8964)	0.28507537293802393
  (1, 6850)	0.2330103781809303
  (2, 22413)	0.8803972062838852
  (2, 4699)	0.4742370284652285
  (3, 38135)	0.581793738185098
  (3, 36564)	0.4545478693192683
  :	:
  (31958, 22638)	0.32530121686453684
  (31958, 21274)	0.13596613921724965
  (31958, 18244)	0.2762757519718976
  (31958, 16907)	0.23329534756537715
  (31958, 14915)	0.2660263924306692
  (31958, 7412)	0.32530121686453684
  (31958, 1841)	0.32530121686453684
  (31959, 40097)	0.2481969249150418
  (31959, 33614)	0.38493137255710247
  (31959, 31342)	0.5218379972550838
  (31959, 26651)	0.4734039800315836
  (31959, 24030)	0.25741216133237826
  (31959, 23884)	0.30356492899452925
  (31959, 21426)	0.3679500160046488
  (31960, 40287)	0.3857653839202366
  (31960, 38286)	0.3857653839202366
  (31960, 38161)	0.09815179529663164
  (31960, 35816)	0.37337010524441994
  (31960, 32797)	0.38402832173516094
  (31960, 8320)	0.3857653839202366
  (31960, 6377)	0.3776503355351552
  (31960, 1407)	0.3382582851489328
  (31961, 38161)	0.24620880606922313
  (31961, 35967)	0.6783725743494851
  (31961, 13847)	0.6922368627748887

In [10]:
naive_bayes = MultinomialNB()
naive_bayes.fit(x_train_transform, y_train)

MultinomialNB()

In [11]:
x_test_transform = vectorizer.transform(x_test)
print(x_test_transform)

  (0, 34637)	0.5379980273221591
  (0, 30420)	0.5229331474407908
  (0, 27164)	0.41919519491929175
  (0, 9828)	0.511247918784723
  (1, 39590)	0.32442067916027545
  (1, 38940)	0.2654385004861108
  (1, 38161)	0.11064535478970418
  (1, 35047)	0.5750072619923141
  (1, 25060)	0.24482066654491863
  (1, 24154)	0.36383359003272386
  (1, 16900)	0.5376856326040664
  (2, 39103)	0.41182413946571506
  (2, 31362)	0.3904781364999476
  (2, 16714)	0.2757535149557975
  (2, 16697)	0.3367465689356494
  (2, 16691)	0.40375914764417015
  (2, 2174)	0.3144911863294974
  (2, 1392)	0.4759866539968958
  (3, 40560)	0.3154396115027584
  (3, 16503)	0.4965621707940472
  (3, 13040)	0.35748628414142025
  (3, 9239)	0.5431667129881697
  (3, 7321)	0.35127587505713936
  (3, 5370)	0.3281807431683347
  (4, 37836)	0.37189532578082957
  :	:
  (17194, 36089)	0.3715688379757305
  (17194, 31663)	0.21353938523959407
  (17194, 26271)	0.24032721878775978
  (17194, 26159)	0.3245777796397095
  (17194, 21274)	0.1614339035131237
  (17194, 17028)	0.26770904267053885
  (17194, 10316)	0.21896225792731377
  (17194, 7777)	0.29488544510884773
  (17194, 3043)	0.34649984223347935
  (17194, 2328)	0.2895786476267519
  (17195, 40097)	0.4237203790876983
  (17195, 30726)	0.22430173069273068
  (17195, 26551)	0.2960628262902741
  (17195, 23517)	0.5756244660784122
  (17195, 20864)	0.29312606117890155
  (17195, 16407)	0.1655730520805092
  (17195, 10222)	0.2878122330392061
  (17195, 9187)	0.28093607149419814
  (17195, 8345)	0.27578029266766174
  (17196, 33609)	0.34182556099612826
  (17196, 25190)	0.5136961930757328
  (17196, 25161)	0.4571820036762332
  (17196, 15191)	0.37793930477182724
  (17196, 14150)	0.29955673988299186
  (17196, 10996)	0.42152552008511607

In [20]:
y_predict = naive_bayes.predict(x_test_transform)
y_test = pd.read_csv('test_answers.csv')['label']
print("Accuracy = " + str(round(metrics.accuracy_score(y_test, y_predict) * 100, 4)) + "%")

Accuracy = 98.7905%

In [21]:
confusion_matrix = metrics.confusion_matrix(y_test, y_predict)
print(confusion_matrix)

[[16989   208]
 [    0     0]]